@charset "UTF-8";

// ----------------------------------------------
.title-white {
  font-size: 36px;
  color: #fff;
  padding-bottom: 21px;
  margin-bottom: 31px;
  position: relative;
  font-weight: bold;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 4px;
    width: 120px;
    background-color: #fff;
  }

  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 1.45;
    padding-bottom: 22px;
    margin-bottom: 29px;
  }
}